body
{
    background-color: green;
}

#title
{
    background-color:yellow;
    color: black;
    font-size: 55px;
}

p
{
    font-size: 25px;
}

button
{
    font-size:30px!important;
    margin: 10px;
    border-radius: 25px!important;
}

canvas
{
 border-radius: 20px;
 animation-name: shado; 
 animation-duration: 6s;
 animation-iteration-count: infinite;
}

@keyframes shado 
{
    0%{
        box-shadow: 10px 10px 20px black;
    }

    50%{
        box-shadow: 10px 10px 20px white;
    }

    100%{
        box-shadow: 10px 10px 20px black;
    }
}